* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  background-image: url("background.png");
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bloodscreen {
  position: relative;
  width: 40vh;
  margin-top: 80vh;
  align-self: flex-start;
  justify-content: center;
}

#background {
  position: absolute;
  width: 50vh;
  align-self: flex-start;
}

#livingroom {
  position: relative;
  width: 30vh;
  margin-top: 100vh;
}

#headgif {
  position: absolute;
  width: 20vh;
  padding-top: 120vh;
}

ul {
  position: absolute;
  font-family: 'Space Mono', monospace;
  color: #B52482;
  font-size: 2vh;
  margin-left: 10vw;
  text-align: right;
  line-height: 6vh;
  padding-bottom: 80vh;
  list-style-type: none;
}

ul li:hover {
  color: yellow;
  cursor: pointer;
}

li:active {
  color: yellow;
}

h2 {
  position: absolute;
  color: #7E7E00;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  writing-mode: lr-tb;
  padding-bottom: 30vh;
  font-size: 9vh;
  margin-bottom: 20vh;
}

h3 {
  position: absolute;
  padding-bottom: 120vh;
  font-size: 2vh;
  padding-right: 40vh;
  }

#scrollbox {
  position: absolute;
  height: 30vh;
  width: 30vh;
  border: 2px solid #B52482;
  overflow: auto;
  font-size: 2vh;
  padding: 1vh;
  }

#outer {
  overflow: hidden;
}

#outer div {
  display: inline-block;
}

#loop {
  white-space: nowrap;
  animation: loop-anim 250s linear infinite;
}

@keyframes loop-anim {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -40%
      /* This works because of the div between "outer" and "loop" */
  }
}
