* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  width: 50vh;
  margin-top: 10vh;
  margin-right: 5vh;
  align-self: flex-start;
}

h1 {
  position: relative;
  font-family: 'Space Mono', monospace;
  color: #B52482;
  font-size: 3vh;
  margin-top: 40vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: right;
  line-height: 6vh;
}

h1:hover {}
